.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  min-height: 80vh;
}

.navigation {
  max-width: 300px;
  min-width: 200px;
}
